<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="QuestionareMapper" >
  <resultMap id="BaseResultMap" type="com.inxedu.os.nstar.survey.entity.Questionare" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR"/>
    <result column="state" property="state" jdbcType="INTEGER"/>
    <result column="flag" property="flag" jdbcType="INTEGER"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_man" property="createMan" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_man" property="updateMan" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="selectQuestionareMap" type="com.inxedu.os.nstar.survey.entity.Questionare">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR"/>
    <result column="state" property="state" jdbcType="INTEGER"/>
    <result column="flag" property="flag" jdbcType="INTEGER"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_man" property="createMan" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_man" property="updateMan" jdbcType="VARCHAR" />
    <collection property="questions" ofType="com.inxedu.os.nstar.survey.entity.Question" select="selectQues" column="id">

    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, state, flag, create_time, create_man, update_time, update_man, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from survey_questionare
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from survey_questionare
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.inxedu.os.nstar.survey.entity.Questionare" >
    insert into survey_questionare (id, title, state,
    flag, create_time, create_man,
    update_time, update_man, description
    )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER},
    #{flag,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createMan,jdbcType=VARCHAR},
    #{updateTime,jdbcType=TIMESTAMP}, #{updateMan,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
    )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.inxedu.os.nstar.survey.entity.Questionare" >
    update survey_questionare
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMan != null" >
        create_man = #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateMan != null" >
        update_man = #{updateMan,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.inxedu.os.nstar.survey.entity.Questionare" >
    update survey_questionare
    set title = #{title,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_man = #{createMan,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_man = #{updateMan,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findQuestionare" resultMap="BaseResultMap" >
    SELECT  * FROM  survey_questionare
    <include refid="publicMapper.pageEnd"/>
  </select>
  <select id="findQuestionareFront" resultMap="BaseResultMap">
    SELECT  * FROM  survey_questionare WHERE state=2
    <include refid="publicMapper.pageEnd"/>
  </select>
  <select id="findQuestionareFrontCount" resultType="int">
    SELECT  COUNT(*)  FROM  survey_questionare WHERE state=2
  </select>
  <select id="findQuestionareCount" resultType="java.lang.Integer">
     SELECT  COUNT(*)  FROM  survey_questionare
  </select>
  <select id="selectByPrimaryKeyOne" parameterType="long" resultMap="selectQuestionareMap">
    select * from
    survey_questionare a
        left join survey_question b on a.id = b.questionare_id WHERE a.id=#{VALUE}

</select>

  <select id="selectQues"  parameterType="int" resultMap="SurveyQuestionMapper.BaseResultMap" >
    SELECT * from survey_question WHERE  questionare_id=#{VALUE}
  </select>
  <update id="updateStateByPrimaryKey" parameterType="com.inxedu.os.nstar.survey.entity.Questionare">
    UPDATE  survey_questionare SET  state =#{state,jdbcType=INTEGER} where id= #{id,jdbcType=BIGINT}
  </update>
</mapper>