<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="StudentMapper" >
  <resultMap id="BaseResultMap" type="com.inxedu.os.secondclass.entity.Student" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="student_no" property="studentNo" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="class_name" property="classname" jdbcType="VARCHAR" />
    <result column="college" property="college" jdbcType="VARCHAR" />
    <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
    <result column="target_study" property="studyTarget" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="avocation" property="avocation" jdbcType="VARCHAR" />
    <result column="weichat" property="weichat" jdbcType="VARCHAR" />
    <result column="enail" property="email" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, student_no, password, name, class_name, college, teacher_name, target_study, 
    mobile, qq, avocation, weichat, email
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.inxedu.os.secondclass.entity.Student" >
    insert into student (id, student_no, password, 
      name, class_name, college, 
      teacher_name, target_study, mobile, 
      qq, avocation, weichat, 
      email)
    values (#{id,jdbcType=INTEGER}, #{studentNo,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{classname,jdbcType=VARCHAR}, #{college,jdbcType=VARCHAR},
      #{teacherName,jdbcType=VARCHAR}, #{studyTarget,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
      #{qq,jdbcType=VARCHAR}, #{avocation,jdbcType=VARCHAR}, #{weichat,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.inxedu.os.secondclass.entity.Student" >
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="studentNo != null" >
        student_no,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="classname != null" >
        class_name,
      </if>
      <if test="college != null" >
        college,
      </if>
      <if test="teacherName != null" >
        teacher_name,
      </if>
      <if test="studyTarget != null" >
        target_study,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="avocation != null" >
        avocation,
      </if>
      <if test="weichat != null" >
        weichat,
      </if>
      <if test="email != null" >
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="studentNo != null" >
        #{studentNo,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="classname != null" >
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="college != null" >
        #{college,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="studyTarget != null" >
        #{studyTarget,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="avocation != null" >
        #{avocation,jdbcType=VARCHAR},
      </if>
      <if test="weichat != null" >
        #{weichat,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.inxedu.os.secondclass.entity.Student" >
    update student
    <set >
      <if test="studentNo != null" >
        student_no = #{studentNo,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="classname != null" >
        class_name = #{classname,jdbcType=VARCHAR},
      </if>
      <if test="college != null" >
        college = #{college,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        teacher_name = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="studyTarget != null" >
        target_study = #{studyTarget,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="avocation != null" >
        avocation = #{avocation,jdbcType=VARCHAR},
      </if>
      <if test="weichat != null" >
        weichat = #{weichat,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.inxedu.os.secondclass.entity.Student" >
    update student
    set student_no = #{studentNo,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      class_name = #{classname,jdbcType=VARCHAR},
      college = #{college,jdbcType=VARCHAR},
      teacher_name = #{teacherName,jdbcType=VARCHAR},
      target_study = #{studyTarget,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      avocation = #{avocation,jdbcType=VARCHAR},
      weichat = #{weichat,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByStudentNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM  student WHERE student_no=#{VALUE}
  </select>
</mapper>